.game-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;

  background: #6c6e6e;
}

.game-actions ul {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  list-style: none;
}

.game-actions li {
  margin: 0;
  width: 50%;
}

.game-action {
  flex-grow: 1;
  width: 100%;
  background: 0;
  height: 100;
  box-shadow: none;
  color: white;
  line-height: 2rem;

  text-align: center;
}

.game-action:hover,
.gme-actions:focus {
  background-color: #9f9f9f;
}
.game-action.active {
  background-color: #9f9f9f;
  text-decoration: underline;

  font-weight: bold;
}

.room {
  padding: 1rem;
}

.current-player {
  background: #6c6e6e;
  padding: 1rem;
  text-align: left;

  margin-bottom: 1rem;
}

.current-player h1 {
  font-size: 1.5rem;
  margin: 0;
}

.current-player h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 0.25rem;
}

.current-player h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.players {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.players li {
  margin-bottom: 1rem;
  width: calc(50% - 0.5rem);

  height: 4rem;
  line-height: 4rem;
}

.players li:nth-child(2n) {
  padding-left: 0.5rem;
}

.players li:nth-child(2n + 1) {
  padding-right: 0.5rem;
}

.player {
  position: relative;
  background: #9f9f9f;
  border: 3px solid black;
}

.player-status {
  width: 3rem;
  height: 3rem;
  float: left;
  margin: 0.5rem 0rem 0 0.5rem;
}

.objective {
  text-align: left;
  background-color: #1b1b1b;

  padding: 1rem 2rem;

  margin: 0 auto;

  border-radius: 20px;
  margin-bottom: 1rem;
}

.objective::after {
  content: "";
  display: block;
  clear: both;
}

.overlay {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(21.875%) 1rem 1rem;
}

.time-remaining {
  font-size: 3rem;
}

.objective dt {
  font-weight: 700;
  width: 100px;
  clear: left;
}

.objective dd {
  float: left;
}

.role {
  text-transform: capitalize;
}

.role.red {
  color: #fc011a;
}

.role.blue {
  color: #80c2eb;
}

.role.grey {
  color: #a7a7a7;
}

.votes {
  height: 1rem;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.usurp-vote {
  background-color: #1b1b1b;
  display: inline-block;
  width: 0.25rem;
  height: 0.75rem;
  margin: 0 5px;
}

.needed-vote {
  display: inline-block;
  background-color: #efefef;
  width: 0.25rem;
  height: 0.75rem;
  margin: 0 0.25rem;
}

.room-status {
  float: left;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.card {
  width: 300px;
}

.round-breakdown {
  font-size: 0.75rem;

  display: flex;
  justify-content: space-around;
}
