.lobby-room-header {
  background-color: #1b1b1b;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 3rem;
  padding: 0.5rem 1rem;

  border-radius: 20px;
  margin-bottom: 1rem;
}

.teams {
  display: flex;
  justify-content: space-between;
}

article > * + * {
  margin-bottom: 1em;
}

.team {
  margin: 0 0.5rem;
  padding: 0.5rem;
  flex-grow: 1;
}

.team ul,
.team dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

.team li {
  line-height: 1.25rem;
}

.team.blue {
  background-color: #324896;
}

.team.red {
  background-color: #ed1d24;
}

.team-header {
  font-weight: 900;
  margin-bottom: 0.25rem;
}

.team.grey {
  background-color: #6d6f6f;
}
